<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置bean,配置后该类由spring管理-->
    <bean name="springAction" class="com.beanInsert.set.SpringAction">
        <!--(1)依赖注入,配置当前类中相应的属性-->
        <property name="springDao" ref="springDao"></property>
    </bean>
    <bean name="springDao" class="com.beanInsert.set.SpringDaoImpl"></bean>
</beans>